


{% if user.user_type == 'lawyer' %}
    {% include 'lawyer_base.html' %}
{% elif user.user_type == 'client' %}
    {% include 'client_base.html' %}
{% else %}
    {% include 'admin_base.html' %}
{% endif %}

{% block title %}Not authorized - Adv Assist{% endblock %}
{% load static %}
{% block content %}

    <style>
        * {
            margin: 0;
            padding: 0;
            user-select: none;
        }

        .wrapper {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .img-container {
            width: 25em;
            height: 25em;
        }

        .img-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .go-to-home,
        .go-to-home:hover {
            color: #fff;
            text-decoration: none;
            background-color: #f2c64d;
            padding: 1em 1.5em;
            border-radius: 2em;
        }

        p {
            text-align: center;
        }

        @media screen and (max-width: 771px) {
            .img-container {
                width: 15em;
                height: 15em;
            }
        }
    </style>

</head>

<body>
    <div class="wrapper">
        <div class="img-container">
            <img src="{% static 'img/tick.png' %}" alt="404" />
        </div>
        <p class="font-weight-bold display-4">
            Task Submitted!
           
        </p>

        <a href="{% url 'home' %}" class="go-to-home">Go To Homepage</a>
    </div>


    {% endblock %}


