.input-row {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 1em;
    padding: 0 1em;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 25em;
}

.input-group input,
.input-group select {
    width: 100%;
    height: 2.25em;
    outline: none;
    border: 2px solid #f2c64d;
    border-radius: 3px;
    padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]::-webkit-file-upload-button {
    display: none;
}

.profile-img-preview img {
    width: 10em;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .input-row {
        flex-direction: column;
        align-items: center;
    }

    .input-group {
        max-width: 90%;
    }
}