{% extends 'admin_base.html' %}

{% block title %}Add Lawyer - Adv Assist{% endblock %}

{% block content %}

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Dashboard</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-12 col-lg-12">
                          <div class="card">
                              <div class="card-body p-4">
                                <h5 class="mb-4">Add Lawyer</h5>
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                 <!-- Validation Messages Container -->
                                    <div class="mb-4">
                                        <!-- Display validation messages here -->
                                        {% if messages %}
                                            {% for message in messages %}
                                            <p class="text-danger font-weight-bold{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                      <div class="row mb-3">
                                          <label for="input35" class="col-sm-3 col-form-label">First Name</label>
                                          <div class="col-sm-9">
                                              <input type="text" class="form-control" id="first_name" name = "first_name" placeholder="Enter Your First Name" required>
                                          </div>
                                      </div>
                                      <div class="row mb-3">
                                          <label for="input36" class="col-sm-3 col-form-label">Last Name</label>
                                          <div class="col-sm-9">
                                              <input type="text" class="form-control" id="last_name" name = "last_name" placeholder="Phone No">
                                          </div>
                                      </div>
                                      <div class="row mb-3">
                                          <label for="input37" class="col-sm-3 col-form-label">Email Address</label>
                                          <div class="col-sm-9">
                                              <input type="email" class="form-control" id="email" name = "email" placeholder="Email Address" required>
                                          </div>
                                      </div>
                                      <div class="row mb-3">
                                          <label for="input38" class="col-sm-3 col-form-label">License Number</label>
                                          <div class="col-sm-9">
                                              <input type="text" class="form-control" id="license_no" name = "license_no" placeholder="Enter License Number">
                                          </div>
                                      </div>
                                      <div class="row mb-3">
                                        <label for="input38" class="col-sm-3 col-form-label">Phone</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="phone" name = "phone" placeholder="Enter Phone Number" required>
                                        </div>
                                    </div>
                                      <div class="row">
                                          <label class="col-sm-3 col-form-label"></label>
                                          <div class="col-sm-9">
                                              <div class="d-md-flex d-grid align-items-center gap-3">
                                                  <button type="submit" class="btn btn-primary px-4">Submit</button>
                                                  <button type="button" class="btn btn-light px-4">Reset</button>
                                              </div>
                                          </div>
                                      </div>
                              </div>
                            </form>
                          </div>

    </div>
</main>

<script>
    function submitForm() {
        // Perform form submission logic here

        // After successful submission, redirect to the success page
        window.location.href = 'your_success_page_url';
    }

{% endblock %}