{% extends 'admin_base.html' %}

{% block title %}Add Internship - Adv Assist{% endblock %}

{% block content %}

  <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
                <div class="row">
					<div class="col-xl-6 mx-auto">
						<div class="card">
							<div class="card-header px-4 py-3">
								<h5 class="mb-0">Add Internship</h5>
							</div>
							<div class="card-body p-4">
								<form class="row g-3 needs-validation" method="POST" enctype="multipart/form-data" novalidate>
									{% csrf_token %}
                                    {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Error:</strong> Please correct the following errors:
                                <ul>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                                    <div class="col-md-12">
										<label for="bsValidation1" class="form-label"> Name</label>
										{{ form.name }}
									</div>
									<div class="col-md-12">
										<label for="bsValidation2" class="form-label">Lawyer Profile</label>
										{{ form.lawyer_profile }}
									</div>
									<div class="col-md-6">
										<label for="bsValidation3" class="form-label">Minimum CGPA</label>
										{{ form.min_cgpa }}
									</div>
									<div class="col-md-6">
										<label for="bsValidation4" class="form-label">Start Date</label>
                                        {{ form.start_date }}
									</div>
									<div class="col-md-12">
										<label for="bsValidation5" class="form-label">Duration</label>
                                        {{ form.duration }}
									</div>
                                    <div class="col-md-12">
										<label for="bsValidation8" class="form-label">Description</label>
                                        {{ form.description }}
									</div>
									<div class="col-md-12">
										<label for="bsValidation8" class="form-label">Roles</label>
                                        {{ form.roles }}
									</div>
									<div class="col-md-12">
										<label for="bsValidation9" class="form-label">Image</label>
										{{ form.image }}
                                        {{ form.image.errors }}
									</div>
									<div class="col-md-12">
										<div class="d-md-flex d-grid align-items-center gap-3">
											<button type="submit" class="btn btn-primary px-4">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
            </div>
        </main>
{% endblock %}