{% extends 'admin_base.html' %}

{% block title %}Dashboard - Adv Assist{% endblock %}

{% block content %}

  <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
          <div class="col-12 col-xl-12 d-flex">
            <div class="card rounded-4 w-100">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-around flex-wrap gap-4 p-4">
                  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <a href="{% url 'list_cases' %}" class="mb-2 wh-48 bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center">
                        <i class="material-icons-outlined">shopping_cart</i>
                    </a>
                    <h3 class="mb-0">{{ cases_count }}</h3>
                    <p class="mb-0">Cases</p>
                </div>
                
                  <div class="vr"></div>
                  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <a href="{% url 'list_lawyers' %}" class="mb-2 wh-48 bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center">
                      <i class="material-icons-outlined">shopping_cart</i>
                    </a>
                    <h3 class="mb-0">{{lawyer_count}}</h3>
                    <p class="mb-0">Lawyers</p>
                  </div>
                  <div class="vr"></div>
                  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <a href="{% url 'all_bookings' %}" class="mb-2 wh-48 bg-success bg-opacity-10 text-success rounded-circle d-flex align-items-center justify-content-center">
                      <i class="material-icons-outlined">print</i>
                    </a>
                    <h3 class="mb-0">{{booking_count}}</h3>
                    <p class="mb-0">Total Booking</p>
                  </div>
                  <div class="vr"></div>
                  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <a href="{% url 'intern' %}" class="mb-2 wh-48 bg-danger bg-opacity-10 text-danger rounded-circle d-flex align-items-center justify-content-center">
                      <i class="material-icons-outlined">notifications</i>
                    </a>
                    <h3 class="mb-0">{{internship_count}}</h3>
                    <p class="mb-0">Internship Count</p>
                  </div>
                  <div class="vr"></div>
                  
                  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <a href="{% url 'list_student_requests' %}" class="mb-2 wh-48 bg-info bg-opacity-10 text-info rounded-circle d-flex align-items-center justify-content-center">
                      <i class="material-icons-outlined">payment</i>
                    </a>
                    <h3 class="mb-0">{{students_count}}</h3>
                    <p class="mb-0">Students Count</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--end row-->


    {% endblock %}

   

