{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Video Call</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>
  <body>
    <h1>Join Meeting</h1>
    <div class="container">
      <form method="POST" >
        {% csrf_token %}
      <p>Meeting ID or Channel Name</p>
      <input type="text" name="channel" value="" placeholder="Enter Meeting or Channel Name">

      <p>By clicking "Join", you agre to our <a href="">Terms of Service</a>  <br> and <a href="#">Privacy Statement</a></p>

      <button type="submit" name="button" class="btnj">Join</button>
    </form>
      {% csrf_token %}
      <div class="flex">
        <a href="schedule"><button type="button" name="button" class="new">Schedule</button></a>
    <form method="POST">
      {% csrf_token %}
        <input name="new" type="hidden" value="new" />
        <button type="submit" name="button" class="new">New</button>
    </form>
      </div>
    </div>

  </body>
</html>