<!-- client_dashboard.html -->

<h2>Welcome, {{ user.first_name }}</h2>

<!-- Confirmed Bookings Section -->
<h3>Confirmed Bookings</h3>
<ul>
    {% for booking in confirmed_bookings %}
        <li>{{ booking.booking_date }} - {{ booking.time_slot }} - {{ booking.details }}</li>
    {% empty %}
        <li>No confirmed bookings.</li>
    {% endfor %}
</ul>

<!-- Pending Bookings Section -->
<h3>Pending Bookings</h3>
<ul>
    {% for booking in pending_bookings %}
        <li>{{ booking.booking_date }} - {{ booking.time_slot }} - {{ booking.details }}</li>
    {% empty %}
        <li>No pending bookings.</li>
    {% endfor %}
</ul>

<!-- Canceled Bookings Section -->
<h3>Canceled Bookings</h3>
<ul>
    {% for booking in canceled_bookings %}
        <li>{{ booking.booking_date }} - {{ booking.time_slot }} - {{ booking.details }}</li>
    {% empty %}
        <li>No canceled bookings.</li>
    {% endfor %}
</ul>
<!-- Canceled Bookings Section -->
<h3>ReScheduled Bookings</h3>
<ul>
 {% for booking in rescheduled_bookings %}
 <li>
    {{ booking.booking_date }} - {{ booking.time_slot }} - {{ booking.details }}
    <a href="{% url 'reschedule_appointment' booking.id %}" class="btn btn-primary">Reschedule</a>
</li>
 {% empty %}
     <li>No canceled bookings.</li>
 {% endfor %}
</ul>