{% extends 'client_base.html' %}

{% block title %}Dashboard - Adv Assist{% endblock %}

{% block content %}

<style>
    #exTab1 ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #exTab1 li {
        border: 1px solid #ddd; /* Add border for each list item */
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f9f9f9;
    }

    #exTab1 li p {
        margin: 0;
    }

    .show-more {
        display: block;
        text-align: right;
    }

    .show-more a {
        color: #f2c64d;
        text-decoration: none;
    }

    .show-more a:hover {
        text-decoration: underline;
    }
</style>

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>

                <div class="container pt-5">
                    <h3>Welcome {{ user.first_name }},</h3>
                    <h6 class="my-3">Your bookings,</h6>
                </div>
               
                <div id="exTab1" class="">
                    <div class="tab-content clearfix">
                        <div class="tab-pane active">
                            <div>
                                <ul>
                                    {% for booking in all_bookings %}
                                    <li>
                                        <p>{{ booking.appointment_date }} - {{ booking.time_slot }} - {{ booking.details }}</p>
                                        <span class="show-more">
                                        </span>
                                    </li>
                                    {% empty %}
                                    <h3>No bookings available.</h3>
                                    <p class="h4 text-dark"></p>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>

{% endblock %}