<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset</h2>
    <p>Hello {{ user.username }},</p>
    <p>To set your password, click the link below:</p>
    <a href="{{ password_reset_url }}">Set Password</a>
    <p>If you didn't request this, please ignore this email.</p>
    <br>
    <!-- <img src="https://example.com/path/to/custom-image.png" alt="Custom Image"> -->
</body>
</html>
