{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_user.css' %}">

    <title>Document</title>

    <style>
        .container {
            display: grid;
            place-items: center;
        }

        form {
            width: 35em;
        }

        .col-md-6 {
            text-align: center;
        }

        input[type=checkbox] {
            accent-color: #ffc107;
        }
    </style>
</head>

<body>
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Select Date</li>
        </ol>
    </nav>
    <div class="container py-5">
        <h1 class="text-center">Assign Your Working Hours</h1>
        <form method="post" action="{% url 'assign_working_hours' %}">
            {% csrf_token %}
            <div class="row mt-5">
                {% for time_slot in all_time_slots %}
                <div class="col-md-6">
                    <label>
                        <input type="checkbox" name="selected_time_slots" value="{{ time_slot.id }}">
                        {{ time_slot }}
                    </label>
                </div>
                {% endfor %}
            <div class="text-center my-4">
                <button type="submit" class="btn btn-warning">Assign Working Hours</button>
            </div>
        </form>
    </div>
</body>

</html>