{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_lawyer.css' %}">

    <title>Book {{ lawyer.user.get_full_name }}</title>
</head>
<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="{% static 'img\icon.ico' %}" alt=""width="120">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        <li><a href="{% url 'practice' %}">Practice Area</a></li> 
                                        <li><a href="#">Services<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'lawyer_list' %}">Lawyer</a></li>
                                                
                                                {% if user.user_type == 'admin' %}
                                                <li><a href="{% url 'add_lawyer' %}">Add Lawyer</a></li>
                                                {% endif %}
                                            </ul>
                                            
                                        </li>
                                        {% if user.is_authenticated %}
                                        <li>
                                            <a href="#">Welcome {{ user.first_name }}<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                {% if user.user_type == 'admin' %}
                                                <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>                                                {% endif %}
                                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        
                                        <li><a href="{% url 'signup' %}">Signup</a></li>
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Book Advocate</h1>

                <h4 class="text-center my-3">
                    <img src="{% static 'img/adv-logo.png' %}" width="25px" alt="">
                    {{ lawyer.user.get_full_name }}
                </h4>
                
                <div class="mt-5">
                    <form method="post">
                        {% csrf_token %}

                        <div class="input-row">
                            <div class="input-group">
                                <label for="{{ form.details.id_for_label }}">Booking Details:</label>
                                {{ form.details }}
                            </div>
                        </div>
                        
                        <div class="input-row mt-3">
                            <div class="input-group">
                                <label for="{{ form.booking_date.id_for_label }}">Booking Date:</label>
                                {{ form.booking_date }}
                            </div>
                        </div>
                        
                        <div class="input-row mt-3">
                            <div class="input-group">
                                <label for="{{ form.time_slot.id_for_label }}">Time Slot:</label>
{{ form.time_slot }}
                            </div>
                        </div>
                        
                        <div class="input-row mt-3">
                            <div class="input-group">
                                <button type="submit" class="btn btn-warning text-white" style="width: 100%;">Book Now</button>
                            </div>
                        </div>
                    </form>
                    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>