<!-- your_app/templates/your_app/all_bookings.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Bookings</title>
</head>
<body>
    <h1>All Bookings</h1>

    <ul>
        {% for booking in bookings %}
            <li>{{ booking.details }} - {{ booking.title }} - {{ booking.date }}</li>
        {% empty %}
            <li>No bookings available.</li>
        {% endfor %}
    </ul>
</body>
</html>
