{% extends 'client_base.html' %}

{% block title %}Select Date - Adv Assist{% endblock %}

{% block content %}

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
    
                <div class="row">
					<div class="col-xl-6 mx-auto">
						<div class="card">
							<div class="card-header px-4 py-3">
								<h5 class="mb-0">Select A Date to Book</h5>
							</div>
							<div class="card-body p-4">
                <form class="row g-3 needs-validation" method="post">
                    {% csrf_token %}
                    <p>Selected Date: <span>{{ selected_date }}</span></p>
                    {% if appointment_slots %}
                    <div class="input-group">
                        <label for="bsValidation1" class="form-label">Selected Slot</label>
                        <select name="selected_slot" id="selected_slot"  class = "form-control" required>
                            {% for slot in appointment_slots %}
                            <option class = "form-control" value="{{ slot }}">{{ slot }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-12">
                        <div class="d-md-flex d-grid align-items-center gap-3">
                            <button type="submit" class="btn btn-primary px-4">Submit</button>
                            <button type="reset" class="btn btn-light px-4">Reset</button>
                        </div>
                    </div>
                    {% else %}
                    <p>No available time slots.</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="result">
    {% if messages %}
                  
                    {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                                  {% endif %}</center>
    </div>
</main>

                                  {% endblock %}