{% if user.user_type == 'lawyer' %}
    {% include 'lawyer_base.html' %}
{% elif user.user_type == 'client' %}
    {% include 'client_base.html' %}
{% else %}
    {% include 'admin_base.html' %}
{% endif %}


{% block title %}Case List - Adv Assist{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<style>
    *,
    *:focus,
    *:active {
        outline: none;
        outline-offset: 0;
        outline-color: red;
        font-family: 'Poppins', sans-serif;
    }

    select {
        border: 1px solid #000;
        min-width: 5em;
        border-radius: 3px;
    }

    .dataTables_filter label {
        font-size: 17px;
    }

    div.dataTables_wrapper div.dataTables_filter input[type=search] {
        height: 2.5em;
        width: 25em;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 0 10px;
        font-size: 14px;
    }

    .table.dataTable.table-striped>tbody>tr>* {
        border: none;
    }

    .table.dataTable.table-striped>tbody>tr.odd>* {
        box-shadow: none;
        background-color: #eff1f3;
    }

    .table.dataTable.table-striped>tbody>tr.odd:hover {
        background-color: #E0FCFC;
    }

    a,
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        color: #000;
        border-radius: 3px;
        margin-left: 5px;
    }

    a.paginate_button.current {
        background-color: #eff1f3;
        padding: 5px 10px;
        color: #000;
    }

    a.paginate_button.previous.disabled,
    a.paginate_button.next.disabled {
        background-color: #eff1f3;
        cursor: not-allowed;
        opacity: 0.7;
    }

    a.paginate_button {
        border: 1px solid #000;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>

<main class="main-wrapper">
    <div class="main-content">
        <div class="container py-5">
            <h1 class="text-center">Case List</h1>
            <div class="row">
                <div class="col-12">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Case Number</th>
                                <th class="text-center">
                                    {% if user.user_type == 'client' %}
                                        Lawyer
                                    {% elif user.user_type == 'lawyer' %}
                                        Client
                                    {% endif %}
                                </th>
                                
                                {% if user.user_type == 'lawyer' %}
                                    <th class="text-center">Handled By</th>
                                {% endif %}
                                <th class="text-center">Status</th>
                                <th class="text-center"></th>
                                <th class="text-center">Report</th>
                                {% if user.user_type == 'client' %}
                                    <th class="text-center">Student</th>
                                {% endif %}
                            </tr>
                        </thead>
                
                        <tbody>
                            {% for case in cases %}
                                <tr>
                                    <td class="text-center">CS/{{ case.case_number }}</td>
                                    <td class="text-center">
                                        {% if user.user_type == 'client' %}
                                            {{ case.lawyer.user.get_full_name }}
                                        {% elif user.user_type == 'lawyer' %}
                                            {{ case.client_name }}
                                        {% endif %}
                                    </td>
                                    {% if user.user_type == 'lawyer' %}
                                        <td class="text-center">
                                            {% if case.work_assignments.all %}
                                                {% for work_assignment in case.work_assignments.all %}
                                                    {% if work_assignment.student %}
                                                        {{ work_assignment.student.user.get_full_name }}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {{ request.user.get_full_name }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td class="text-center">{{ case.status }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'case_detail' case.id %}">
                                            <button class="btn btn-success" type="submit">Show More</button>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        {% comment %} {% for work_assignment in case.work_assignments %}
                                            <a href="{% url 'view_tasks_for_assignment' work_assignment.id %}">
                                                <button class="btn btn-success" type="submit">View Tasks</button>
                                            </a>
                                        {% endfor %} {% endcomment %}
                                        <div class="col">
                                            <!-- Button trigger modal -->
                                            {% for work_assignment in case.work_assignments %}
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal">Report</button>
                                        </td>
                                            <!-- Modal -->
                            <div class="modal fade" id="exampleVerticallycenteredModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Tasks for {{ work_assignment.description }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {% if work_assignment.tasks %}
                                                {% for task in work_assignment.tasks %}
                                                    <div class="modal-body">Note: {{ task.note }}</div>
                                                    <div class="col text-center">
                                                        <button type="button" class="btn btn-info px-4 raised viewButton">
                                                            <i class="material-icons-outlined">cloud_download</i>View
                                                        </button>
                                                    </div>
                                                    <script>
                                                        document.addEventListener('DOMContentLoaded', function () {
                                                            var viewButton = document.querySelector('.viewButton');
                                                            viewButton.addEventListener('click', function () {
                                                                window.open("{{ task.files.url }}", "_blank");
                                                            });
                                                        });
                                                    </script>
                                                {% endfor %}
                                            {% else %}
                                                <div class="modal-body">Not submitted</div>
                                            {% endif %}
                                        </div>

                                        <div class="modal-footer">
                                            <a href="{% url 'transfer_student_to_work_assignment' work_assignment.id %}" class="btn btn-secondary">Transfer</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                          {% endfor %}
                                    {% if user.user_type == 'client' %}
                                        <td class="text-center">
                                            {% if case.work_assignments.all %}
                                                {% for work_assignment in case.work_assignments.all %}
                                                    {% if work_assignment.student %}
                                                        {{ work_assignment.student.user.get_full_name }}
                                                    {% else %}
                                                        None
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": true
        });
    });
</script>

{% endblock %}
