{% extends 'client_base.html' %}

{% block title %}Dashboard - Adv Assist{% endblock %}

{% block content %}

<style>
    #exTab1 ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #exTab1 li {
        border: 1px solid #ddd; /* Add border for each list item */
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f9f9f9;
    }

    #exTab1 li p {
        margin: 0;
    }

    .show-more {
        display: block;
        text-align: right;
    }

    .show-more a {
        color: #f2c64d;
        text-decoration: none;
    }

    .show-more a:hover {
        text-decoration: underline;
    }
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <h1> Case Saved!!</h1>
                </div>
        </main>
    
{% endblock %}