<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our Platform</title>
</head>
<body>
    <p>Hello {{ user.first_name }},</p>
    <p>Welcome to our platform! We are excited to have you on board.</p>
    <p>To set your password and complete your registration, please click on the following link:</p>
    <a href="{{ password_reset_url }}" target="_blank">{{ password_reset_url }}</a>
    <p>This link will expire in 48 hours for security reasons.</p>
    <p>If you didn't request this, you can ignore this email.</p>
    <p>Thank you for choosing us!</p>
    <p>Best regards,<br>Our Platform Team</p>
</body>
</html>
