{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SignUp | AdvAssist</title>
  <!--favicon-->
	<link rel="icon" href="{% static '/img/icon.ico' %}" type="image/png">

  <!--plugins-->
  <link href="{% static 'new/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'new/plugins/metismenu/metisMenu.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'new/plugins/metismenu/mm-vertical.css' %}">
  <!--bootstrap css-->
  <link href="{% static 'new/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <!--main css-->
  <link href="{% static 'new/css/bootstrap-extended.css' %}" rel="stylesheet">
  <link href="{% static 'new/sass/main.css' %}" rel="stylesheet">
  <link href="{% static 'new/sass/dark-theme.css' %}" rel="stylesheet">
  <link href="{% static 'new/sass/responsive.css' %}" rel="stylesheet">

  </head>

<body>


  <!--authentication-->

  <div class="mx-3 mx-lg-0">

  <div class="card my-5 col-xl-9 col-xxl-8 mx-auto rounded-4 overflow-hidden border-3 p-4">
    <div class="row g-4">
      <div class="col-lg-6 d-flex">
        <div class="card-body">
          <img src="assets/images/logo1.png" class="mb-4" width="145" alt="">
          <h4 class="fw-bold">SignUp</h4>
          <p class="mb-0">Enter your credentials to login your account</p>
          <div class="row gy-2 gx-0 my-4">
            {% comment %} <div class="col-12 col-lg-12">
              <button class="btn btn-filter py-2 px-4 font-text1 fw-bold d-flex align-items-center justify-content-center w-100">
                <span class="auth-social-login"><img src="assets/images/apps/05.png" width="20" class="me-2" alt="">Google</span>
              </button>
            </div> {% endcomment %}
            {% comment %} <div class="col-12 col-lg-12">
              <button class="btn btn-filter py-2 px-4 font-text1 fw-bold d-flex align-items-center justify-content-center w-100">
                <span class="auth-social-login"><img src="assets/images/apps/17.png" width="20" class="me-2" alt="">Facebook</span>
              </button>
            </div>
            <div class="col-12 col-lg-12">
              <button class="btn btn-filter py-2 px-4 font-text1 fw-bold d-flex align-items-center justify-content-center w-100">
                <span class="auth-social-login"><img src="assets/images/apps/18.png" width="20" class="me-2" alt="">LinkedIn</span>
              </button>
            </div> {% endcomment %}
          </div>
          <div class="separator">
            <div class="line"></div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p class="text-danger font-weight-bold{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            {% comment %} <p class="mb-0 fw-bold">OR</p> {% endcomment %}
            <div class="line"></div>
          </div> 
          <div class="form-body mt-4">
            <form class="row g-3" action="" method="POST">
              {% csrf_token %}
              <div class="col-md-6">
                <label for="inputUsername" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name" onkeyup="validateFirst_Name()" required>
              </div>
              <div class="col-md-6">
                <label for="inputUsername" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name='last_name' onkeyup="validateLast_Name()" placeholder="Last name"required>
              </div>
              <div class="col-12">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required onkeyup="validateEmail()"> 
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" required >
              </div>
              <div class="col-12">
                <label for="inputDob" class="form-label">DOB</label>
                <input type="date" class="form-control" id="dob" name="dob" required  onkeyup="validateDob()">
              </div>
              <div class="col-md-6">
                <label for="inputPin" class="form-label">Pin</label>
                <input type="text" class="form-control" id="pin" name="pin" placeholder="PIN code"  onkeyup="validatePinCode()"required>
              </div>
              <div class="col-md-6">
                <label for="inputState" class="form-label">State</label>
                <select class="form-select" id="state" name="state" required >
                  <option value="" disabled selected>State</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="West Bengal">West Bengal</option>
                  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Puducherry">Puducherry</option>
              </select>
              </div>
              <div class="col-12">
                <label for="inputType" class="form-label">Type</label>
                <select class="form-select" id="user_type" name="user_type" required >
                  <option value="student">Student</option>
                  <option value="client" selected>Client</option>
              </select> 
              </div>
              <div class="col-12">
                <label for="inputPhone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" required oninput="formatPhoneNumber()" onchange="validatePhoneNumber()">
              </div>
              <div class="col-12">
                <label for="inputChoosePassword" class="form-label">Password</label>
                <div class="input-group" id="show_hide_password">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required onkeyup="validatePassword()">
                  <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                </div>
              </div>
              <div class="col-12">
                <label for="inputChoosePassword" class="form-label">Confirm Password</label>
                <div class="input-group" id="show_hide_password">
                  <input type="password" class="form-control" id="confirmPassword" name="confirm_password" placeholder="Confirm password" required onkeyup="validateConfirmPassword()">
                  <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                </div>
              </div>
              <div class="col-12">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" required>
                  <label class="form-check-label" for="flexSwitchCheckChecked">I read and agree to Terms &amp; Conditions</label>
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </div>
              <div class="col-12">
                <div class="text-start">
                  <p class="mb-0">Already have an account? <a href="{% url 'login' %}">Sign in here</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-lg-flex d-none ">
        <div class="p-3 rounded-4 w-100 d-flex align-items-center justify-content-center bg-light fixed-image">
          <img src="{% static 'new/images/auth/register1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div><!--end row-->
  </div>

</div>

<!--authentication-->




  <!--plugins-->
  <script src="assets/js/jquery.min.js"></script>

  <script>

    document.addEventListener('DOMContentLoaded', function() {
      const first_nameInput = document.getElementById('first_name');
      const last_nameInput = document.getElementById('last_name');
      const emailInput = document.getElementById('email');
      const phoneInput = document.getElementById('phone');
      const pincodeInput = document.getElementById('pin');
      const dobInput = document.getElementById('dob');
      const adharnoInput = document.getElementById('adharno');
      const passwordInput = document.getElementById('password');
      const confirmPasswordInput = document.getElementById('confirmPassword');
      

      first_nameInput.addEventListener('blur', function(event) { validateFirst_Name(); });
      last_nameInput.addEventListener('blur', function(event) { validateLast_Name(); });
      emailInput.addEventListener('blur', function(event) { validateEmail(); });
      adharnoInput.addEventListener('blur', function(event) { validateAdharno(); });
      phoneInput.addEventListener('blur', function(event) { validatePhoneNumber(); });
      phoneInput.addEventListener('blur', function(event) { formatPhoneNumber(); });
      dobInput.addEventListener('blur', function(event) { validateDob(); });
      pincodeInput.addEventListener('blur', function(event) { validatePinCode(); });
      passwordInput.addEventListener('blur', function(event) { validatePassword(); });
      confirmPasswordInput.addEventListener('blur', function(event) { validateConfirmPassword(); });


      function validateFirst_Name() {
        const namePattern = /^[A-Za-z]+$/;
        if (!namePattern.test(first_nameInput.value)) {
          first_nameInput.classList.add('is-invalid');
          first_nameInput.classList.remove('is-valid');
          return false;
        } else {
          first_nameInput.classList.remove('is-invalid');
          first_nameInput.classList.add('is-valid');
          return true;
        }
      }

      function validateLast_Name() {
        const namePattern = /^[A-Za-z]+$/;
        if (!namePattern.test(last_nameInput.value)) {
          last_nameInput.classList.add('is-invalid');
          last_nameInput.classList.remove('is-valid');
          return false;
        } else {
          last_nameInput.classList.remove('is-invalid');
          last_nameInput.classList.add('is-valid');
          return true;
        }
      }

      function validateEmail() {
        const emailPattern = /^[a-zA-Z0-9._%+-]+@(gmail\.com|[a-zA-Z0-9.-]+\.(com|in))$/;
        if (!emailPattern.test(emailInput.value)) {
          emailInput.classList.add('is-invalid');
          emailInput.classList.remove('is-valid');
          return false;
        } else {
          emailInput.classList.remove('is-invalid');
          emailInput.classList.add('is-valid');
          return true;
        }
      }

      
      function validateAdharno() {
        const adharnoInput = document.getElementById('adharno'); 
        const aadharValue = adharnoInput.value.replace(/\s/g, ''); 
        
        const aadharPattern = /^(?!0|1)[0-9]{12}$/;
        
        if (!aadharPattern.test(aadharValue)) {
            adharnoInput.classList.add('is-invalid'); 
            adharnoInput.classList.remove('is-valid'); 
            adharnoInput.nextElementSibling.textContent = 'Invalid Aadhar number';
            return false;
        } else {
            const formattedAadhar = aadharValue.replace(/(\d{4})(?=\d)/g, '$1 '); 
            adharnoInput.value = formattedAadhar;
            
            adharnoInput.classList.remove('is-invalid'); 
            adharnoInput.classList.add('is-valid'); 
            adharnoInput.nextElementSibling.textContent = ''; 
            return true;
        }
    }
    


    function formatPhoneNumber() {
      const phoneInput = document.getElementById('phone');
      const phoneNumber = phoneInput.value.replace(/\s/g, '');
      
      if (phoneNumber.length > 5) {
          const formattedPhoneNumber = phoneNumber.replace(/(\d{5})(\d{0,5})(\d{0,4})(\d{0,4})/, '$1 $2 $3 $4');
          phoneInput.value = formattedPhoneNumber;
      } else {
          phoneInput.value = phoneNumber;
      }
  }
  
  function validatePhoneNumber() {
      const phonePattern = /^[6-9][0-9]{9}$/; 
      const phoneInput = document.getElementById('phone');
      const phoneNumber = phoneInput.value.replace(/\s/g, ''); 
      
      if (!phonePattern.test(phoneNumber) || phoneNumber.length !== 10) {
          phoneInput.classList.add('is-invalid'); 
          phoneInput.classList.remove('is-valid'); 
          phoneInput.nextElementSibling.textContent = 'Enter a valid 10-digit phone number starting with 6-9'; 
          return false;
      } else {
          phoneInput.classList.remove('is-invalid'); 
          phoneInput.classList.add('is-valid'); 
          phoneInput.nextElementSibling.textContent = ''; 
          return true;
      }
  }
  
      function validatePinCode() {
        const pinInput = document.getElementById('pin');
        const pinValue = pinInput.value.replace(/\s/g, ''); 
        
        const pinPattern = /^[1-9][0-9]{5}$/;
        
        if (!pinPattern.test(pinValue)) {
            pinInput.classList.add('is-invalid'); 
            pinInput.classList.remove('is-valid'); 
            pinInput.nextElementSibling.textContent = 'Enter a valid 6-digit PIN code';
            return false;
        } else {
            pinInput.classList.remove('is-invalid'); 
            pinInput.classList.add('is-valid'); 
            pinInput.nextElementSibling.textContent = ''; 
            return true;
        }
    }

    function validatePassword() {
      const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+[\]{}|;:'",.<>?/~`]).{8,}$/;
  
      if (!passwordPattern.test(passwordInput.value)) {
          passwordInput.classList.add('is-invalid');
          passwordInput.classList.remove('is-valid');
          passwordInput.nextElementSibling.textContent = 'Password must be at least 8 characters long and include at least one digit, one lowercase letter, one uppercase letter, and one special character';
          return false;
      } else {
          passwordInput.classList.remove('is-invalid');
          passwordInput.classList.add('is-valid');
          passwordInput.nextElementSibling.textContent = '';
          return true;
      }
  }
  
  function validateConfirmPassword() {
      if (passwordInput.value !== confirmPasswordInput.value) {
          confirmPasswordInput.classList.add('is-invalid');
          confirmPasswordInput.classList.remove('is-valid');
          confirmPasswordInput.nextElementSibling.textContent = 'Passwords do not match';
          return false;
      } else {
          confirmPasswordInput.classList.remove('is-invalid');
          confirmPasswordInput.classList.add('is-valid');
          confirmPasswordInput.nextElementSibling.textContent = '';
          return true;
      }
  }
  
      function validateDob() {
        const dobValue = new Date(dobInput.value);
        const currentDate = new Date();
        const minAge = 18;

        const age = Math.floor((currentDate - dobValue) / (365.25 * 24 * 60 * 60 * 1000));

        if (isNaN(dobValue) || age < minAge) {
            dobInput.classList.add('is-invalid');
            dobInput.classList.remove('is-valid');
            dobInput.nextElementSibling.textContent = 'Must be at least ${minAge} years old';
            return false;
        } else {
            dobInput.classList.remove('is-invalid');
            dobInput.classList.add('is-valid');
            dobInput.nextElementSibling.textContent = '';
            return true;
        }
    }
      

      function checkall() {
        if (validateFirst_Name() && validateLast_Name() && validateEmail() && validatePassword() && validateConfirmPassword() && validatePhoneNumber() && validateDob()) {
          return true;
        }
        return false;
      }  
  
      const urlParams = new URLSearchParams(window.location.search);
      const alertType = urlParams.get('alert');

      if (alertType === 'email_is_already_registered') {
          showAlert('Email is already registered', 'danger');


      function showAlert(message, alertType) {
          const alertDiv = document.createElement('div');
          alertDiv.classList.add('alert', `alert-${alertType}`, 'alert-top');
          alertDiv.textContent = message;

          const container = document.querySelector('.container');
          container.insertBefore(alertDiv, container.firstChild);

          setTimeout(function() {
              alertDiv.remove();
          }, 5000);  
      } 
    }
     });



    $(document).ready(function () {
      $("#show_hide_password a").on('click', function (event) {
        event.preventDefault();
        if ($('#show_hide_password input').attr("type") == "text") {
          $('#show_hide_password input').attr('type', 'password');
          $('#show_hide_password i').addClass("bi-eye-slash-fill");
          $('#show_hide_password i').removeClass("bi-eye-fill");
        } else if ($('#show_hide_password input').attr("type") == "password") {
          $('#show_hide_password input').attr('type', 'text');
          $('#show_hide_password i').removeClass("bi-eye-slash-fill");
          $('#show_hide_password i').addClass("bi-eye-fill");
        }
      });
    });
  </script>

</body>

</html>