{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration and Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .gradient-custom-2 {
            background: #fccb90;
            background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        } 
        @media (min-width: 768px) {
            .gradient-form {
                height: 100vh !important;
            }
        }
        @media (min-width: 769px) {
            .gradient-custom-2 {
                border-top-right-radius: .3rem;
                border-bottom-right-radius: .3rem;
            }
        }

        .alert-top {
          position: fixed;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          max-width: 500px;
          z-index: 1000;
      }
    </style>
</head>
<body>
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="{% static '/img/icon.ico' %}"  style="width: 130px;" alt="logo">
                                    <h4 class="mt-1 mb-2 pb-1 " style="font-size: 30px;">Advocate Assist </h4>
                                </div>
                                <h4 class="mb-4" style="font-size: 24px;">We Fight For Your Justice</h4>
                                <p class="small mb-0" style="font-size: 18px;">"Empower your legal journey with our seasoned team of dedicated lawyers, ready to provide expert assistance and guidance every step of the way."</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body p-md-3 mx-md-2">
                                <div class="text-center">
                                    <h4 class="mt-1 mb-2 pb-2">Create Account</h4>
                                </div>
                                <form id="loginForm" action="" method='POST'>
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="first_name" onkeyup="validateFirst_Name()" name='first_name' placeholder="First name" required>
                                            <div class="invalid-feedback"></div>
                                            <div class="valid-feedback"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="last_name" name='last_name' onkeyup="validateLast_Name" placeholder="Last name"required>
                                            <div class="invalid-feedback"></div>
                                            <div class="valid-feedback"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required onkeyup="validateEmail"> 
                                        <div class="invalid-feedback"></div>
                          <div class="valid-feedback"></div>
                                    </div>
                                    
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="address" name="address" placeholder="Address" required >
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <input type="date" class="form-control" id="dob" name="dob" required  onkeyup="validateDob()">
                                        </div>
                                        
                                    </div>
                                    <div class="row mb-3">
                                      <div class="col-md-6">
                                          <input type="text" class="form-control" id="pin" name="pin" placeholder="PIN code" required onkeyup="validatePinCode()">
                                          <div class="invalid-feedback"></div> 
                                          <div class="valid-feedback"></div> 
                                      </div> 
                                        <div class="col-md-6">
                                          <select class="form-select" id="state" name="state" required >
                                            <option value="" disabled selected>State</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Puducherry">Puducherry</option>
                                        </select>    
                                    
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <select class="form-select" id="user_type" name="user_type" required >
                                            <option value="student">Student</option>
                                            <option value="client" selected>Client</option>
                                        </select>     
                                  </div>
                                  <div class="mb-3">
                                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" required oninput="formatPhoneNumber()" onchange="validatePhoneNumber()">
                                    <div class="invalid-feedback"></div> 
                                    <div class="valid-feedback"></div> 
                                </div>
                                    <div class="mb-3">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required onkeyup="validatePassword()">
                                        <div class="invalid-feedback"></div>
                          <div class="valid-feedback"></div>
                                    </div>
                                    <div class="mb-3">
                                        <input type="password" class="form-control" id="confirmPassword" name="confirm_password" placeholder="Confirm password" required onkeyup="validateConfirmPassword()">
                                        <div class="invalid-feedback"></div>
                                        <div class="valid-feedback"></div>
                                    </div>
                                    {% if messages %}
                          <ul class="messages">
                              {% for message in messages %}
                              <p class="text-danger font-weight-bold{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                              {% endfor %}
                          </ul>
                          {% endif %}
                                    <div class="text-center pt-2 mb-2 pb-1">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" onclick="return checkall()">Register</button>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-2 me-2">Already have an account?</p>
                                        <button type="button" class="btn btn-outline-danger">
                                            <a href="{% url 'login' %}">Login</a>
                                        </button>                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

  document.addEventListener('DOMContentLoaded', function() {
        const first_nameInput = document.getElementById('first_name');
        const last_nameInput = document.getElementById('last_name');
        const emailInput = document.getElementById('email');
        const phoneInput = document.getElementById('phone');
        const pincodeInput = document.getElementById('pin');
        const dobInput = document.getElementById('dob');
        const adharnoInput = document.getElementById('adharno');
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        
  
        first_nameInput.addEventListener('blur', function(event) { validateFirst_Name(); });
        last_nameInput.addEventListener('blur', function(event) { validateLast_Name(); });
        emailInput.addEventListener('blur', function(event) { validateEmail(); });
        adharnoInput.addEventListener('blur', function(event) { validateAdharno(); });
        phoneInput.addEventListener('blur', function(event) { validatePhoneNumber(); });
        phoneInput.addEventListener('blur', function(event) { formatPhoneNumber(); });
        dobInput.addEventListener('blur', function(event) { validateDob(); });
        pincodeInput.addEventListener('blur', function(event) { validatePinCode(); });
        passwordInput.addEventListener('blur', function(event) { validatePassword(); });
        confirmPasswordInput.addEventListener('blur', function(event) { validateConfirmPassword(); });


        function validateFirst_Name() {
          const namePattern = /^[A-Za-z]+$/;
          if (!namePattern.test(first_nameInput.value)) {
            first_nameInput.classList.add('is-invalid');
            first_nameInput.classList.remove('is-valid');
            return false;
          } else {
            first_nameInput.classList.remove('is-invalid');
            first_nameInput.classList.add('is-valid');
            return true;
          }
        }

        function validateLast_Name() {
          const namePattern = /^[A-Za-z]+$/;
          if (!namePattern.test(last_nameInput.value)) {
            last_nameInput.classList.add('is-invalid');
            last_nameInput.classList.remove('is-valid');
            return false;
          } else {
            last_nameInput.classList.remove('is-invalid');
            last_nameInput.classList.add('is-valid');
            return true;
          }
        }

        function validateEmail() {
          const emailPattern = /^[a-zA-Z0-9._%+-]+@(gmail\.com|[a-zA-Z0-9.-]+\.(com|in))$/;
          if (!emailPattern.test(emailInput.value)) {
            emailInput.classList.add('is-invalid');
            emailInput.classList.remove('is-valid');
            return false;
          } else {
            emailInput.classList.remove('is-invalid');
            emailInput.classList.add('is-valid');
            return true;
          }
        }

        
        function validateAdharno() {
          const adharnoInput = document.getElementById('adharno'); 
          const aadharValue = adharnoInput.value.replace(/\s/g, ''); 
          
          const aadharPattern = /^(?!0|1)[0-9]{12}$/;
          
          if (!aadharPattern.test(aadharValue)) {
              adharnoInput.classList.add('is-invalid'); 
              adharnoInput.classList.remove('is-valid'); 
              adharnoInput.nextElementSibling.textContent = 'Invalid Aadhar number';
              return false;
          } else {
              const formattedAadhar = aadharValue.replace(/(\d{4})(?=\d)/g, '$1 '); 
              adharnoInput.value = formattedAadhar;
              
              adharnoInput.classList.remove('is-invalid'); 
              adharnoInput.classList.add('is-valid'); 
              adharnoInput.nextElementSibling.textContent = ''; 
              return true;
          }
      }
      


      function formatPhoneNumber() {
        const phoneInput = document.getElementById('phone');
        const phoneNumber = phoneInput.value.replace(/\s/g, '');
        
        if (phoneNumber.length > 5) {
            const formattedPhoneNumber = phoneNumber.replace(/(\d{5})(\d{0,5})(\d{0,4})(\d{0,4})/, '$1 $2 $3 $4');
            phoneInput.value = formattedPhoneNumber;
        } else {
            phoneInput.value = phoneNumber;
        }
    }
    
    function validatePhoneNumber() {
        const phonePattern = /^[6-9][0-9]{9}$/; 
        const phoneInput = document.getElementById('phone');
        const phoneNumber = phoneInput.value.replace(/\s/g, ''); 
        
        if (!phonePattern.test(phoneNumber) || phoneNumber.length !== 10) {
            phoneInput.classList.add('is-invalid'); 
            phoneInput.classList.remove('is-valid'); 
            phoneInput.nextElementSibling.textContent = 'Enter a valid 10-digit phone number starting with 6-9'; 
            return false;
        } else {
            phoneInput.classList.remove('is-invalid'); 
            phoneInput.classList.add('is-valid'); 
            phoneInput.nextElementSibling.textContent = ''; 
            return true;
        }
    }
    
        function validatePinCode() {
          const pinInput = document.getElementById('pin');
          const pinValue = pinInput.value.replace(/\s/g, ''); 
          
          const pinPattern = /^[1-9][0-9]{5}$/;
          
          if (!pinPattern.test(pinValue)) {
              pinInput.classList.add('is-invalid'); 
              pinInput.classList.remove('is-valid'); 
              pinInput.nextElementSibling.textContent = 'Enter a valid 6-digit PIN code';
              return false;
          } else {
              pinInput.classList.remove('is-invalid'); 
              pinInput.classList.add('is-valid'); 
              pinInput.nextElementSibling.textContent = ''; 
              return true;
          }
      }

      function validatePassword() {
        const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+[\]{}|;:'",.<>?/~`]).{8,}$/;
    
        if (!passwordPattern.test(passwordInput.value)) {
            passwordInput.classList.add('is-invalid');
            passwordInput.classList.remove('is-valid');
            passwordInput.nextElementSibling.textContent = 'Password must be at least 8 characters long and include at least one digit, one lowercase letter, one uppercase letter, and one special character';
            return false;
        } else {
            passwordInput.classList.remove('is-invalid');
            passwordInput.classList.add('is-valid');
            passwordInput.nextElementSibling.textContent = '';
            return true;
        }
    }
    
    function validateConfirmPassword() {
        if (passwordInput.value !== confirmPasswordInput.value) {
            confirmPasswordInput.classList.add('is-invalid');
            confirmPasswordInput.classList.remove('is-valid');
            confirmPasswordInput.nextElementSibling.textContent = 'Passwords do not match';
            return false;
        } else {
            confirmPasswordInput.classList.remove('is-invalid');
            confirmPasswordInput.classList.add('is-valid');
            confirmPasswordInput.nextElementSibling.textContent = '';
            return true;
        }
    }
    
        function validateDob() {
          const dobValue = new Date(dobInput.value);
          const currentDate = new Date();
          const minAge = 18;
  
          const age = Math.floor((currentDate - dobValue) / (365.25 * 24 * 60 * 60 * 1000));
  
          if (isNaN(dobValue) || age < minAge) {
              dobInput.classList.add('is-invalid');
              dobInput.classList.remove('is-valid');
              dobInput.nextElementSibling.textContent = 'Must be at least ${minAge} years old';
              return false;
          } else {
              dobInput.classList.remove('is-invalid');
              dobInput.classList.add('is-valid');
              dobInput.nextElementSibling.textContent = '';
              return true;
          }
      }
        

        function checkall() {
          if (validateFirst_Name() && validateLast_Name() && validateEmail() && validatePassword() && validateConfirmPassword() && validatePhoneNumber() && validateDob()) {
            return true;
          }
          return false;
        }  
    
        const urlParams = new URLSearchParams(window.location.search);
        const alertType = urlParams.get('alert');
  
        if (alertType === 'email_is_already_registered') {
            showAlert('Email is already registered', 'danger');

  
        function showAlert(message, alertType) {
            const alertDiv = document.createElement('div');
            alertDiv.classList.add('alert', `alert-${alertType}`, 'alert-top');
            alertDiv.textContent = message;
  
            const container = document.querySelector('.container');
            container.insertBefore(alertDiv, container.firstChild);
  
            setTimeout(function() {
                alertDiv.remove();
            }, 5000);  
        } 
      }
       });

</script>
</body>
</html>
