{% extends 'student_base.html' %}

{% block title %}Dashboard - Adv Assist{% endblock %}

{% block content %}

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Dashboard</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="container py-5">
            <h2 class="text-center mb-">Your Work Assignments</h2>
            <div class="row">
                {% for assignment in work_assignments %}
                <div class="col-md-3">
                    <div class="work-cards p-3">
                        <h5>{{ assignment.description }} </h5>
                        <p>Deadline:  {{ assignment.deadline_date }}</p>
                        <p>Case:  {{ assignment.case }}</p>

                        <!-- Add a form for submitting a task -->
                        <form method="post" action="{% url 'create_task' assignment.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Submit Task</button>
                        </form>
                    </div>
                </div>
                {% empty %}
                <li>No work assignments found.</li>
                {% endfor %}
            </div>
        </div>
    </div>
    </div><!--end row-->
</main>
{% endblock %}
