{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

    <title>Work Assignments</title>

    <style>
        .work-cards {
            width: 100%;
            background: #f6f3f3a7;
            max-height: 20em;
            word-wrap: break-word;
            transition: 300ms;
        }

        .work-cards:hover {
            box-shadow: 0 2px 7px #79777765;
        }

        .row {
            row-gap: 1em;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'login' %}">
                                    <img src="{% static 'img\icon.ico' %}" alt="" width="120">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'login' %}">Dashboard</a></li>
                                        <!-- <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        <li><a href="{% url 'home' %}">Practice Area</a></li>  -->
                                        <!-- <li><a href="{% url 'lawyer_list' %}">Lawyers<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                
                                                
                                                {% if user.user_type == 'admin' %}
                                                <li><a href="{% url 'add_lawyer' %}">Add Lawyer</a></li>
                                                {% endif %}
                                            </ul>
                                            
                                        </li> -->
                                        {% if user.is_authenticated %}
                                        <li>
                                            <a href="#">Welcome {{ user.first_name }}<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                {% if user.user_type == 'admin' %}

                                                {% endif %}
                                                {% if user.user_type == 'lawyer' %}
                                                <!-- <li><a href="{% url 'lawyer_dashboard' %}">Dashboard</a></li>                                        -->
                                                {% endif %}
                                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        </li>
                                        {% else %}

                                        <li><a href="{% url 'signup' %}">Signup</a></li>
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        {% endif %}
                                    </ul>
                                    <nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'login' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'list_cases' %}">Task</a></li>
            
        </ol>
    </nav>

    <div class="container py-5">
        <h2 class="text-center mb-">Your Work Assignments</h2>
        <div class="row">
            {% for assignment in work_assignments %}
            <div class="col-md-3">
                <div class="work-cards p-3">
                    <h5>{{ assignment.description }} </h5>
                    <p>Deadline:  {{ assignment.deadline_date }}</p>
                    <p>Case:  {{ assignment.case }}</p>
                    
                </div>
            </div>

            {% empty %}
            <li>No work assignments found.</li>
        {% endfor %} 

        </div>
    </div>

</body>

</html>