{% if user.user_type == 'lawyer' %}
    {% include 'lawyer_base.html' %}
{% else %}
    {% include 'admin_base.html' %}
{% endif %}

{% block title %}Current - Adv Assist{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<style>
    *,
    *:focus,
    *:active {
        outline: none;
        outline-offset: 0;
        outline-color: red;
        font-family: 'Poppins', sans-serif;
    }

    select {
        border: 1px solid #000;
        min-width: 5em;
        border-radius: 3px;
    }

    .dataTables_filter label {
        font-size: 17px;
    }

    div.dataTables_wrapper div.dataTables_filter input[type=search] {
        height: 2.5em;
        width: 25em;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 0 10px;
        font-size: 14px;
    }

    .table.dataTable.table-striped>tbody>tr>* {
        border: none;
    }

    .table.dataTable.table-striped>tbody>tr.odd>* {
        box-shadow: none;
        background-color: #eff1f3;
    }

    .table.dataTable.table-striped>tbody>tr.odd:hover {
        background-color: #E0FCFC;
    }

    a,
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        color: #000;
        border-radius: 3px;
        margin-left: 5px;
    }

    a.paginate_button.current {
        background-color: #eff1f3;
        padding: 5px 10px;
        color: #000;
    }

    a.paginate_button.previous.disabled,
    a.paginate_button.next.disabled {
        background-color: #eff1f3;
        cursor: not-allowed;
        opacity: 0.7;
    }

    a.paginate_button {
        border: 1px solid #000;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->

				<div class="row">
					<div class="col-xl-6 mx-auto">
						<div class="card">
							<div class="card-header px-4 py-3">
								<h5 class="mb-0">Current Cases</h5>
							</div>
							<div class="card-body p-4">
								{% if messages %}
									<ul class="messages">
										{% for message in messages %}
										<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
										{% endfor %}
									</ul>
									{% endif %}
								{% if current_case_count < max_current_cases %}
								<form class="row g-3 needs-validation" method = "post" novalidate>
									{% csrf_token %}
									<div class="col-md-12">
										<label for="bsValidation1" class="form-label">First Name</label>
										<input type="text" class="form-control" id="bsValidation1" placeholder="First Name"  name = "case_number" required>
									</div>
									<div class="col-md-12">
										<label for="bsValidation3" class="form-label">Client Name</label>
										<input type="text" class="form-control" id="bsValidation3" placeholder="Client Name" name = "client_name" required>
									</div>
									<div class="col-md-12">
										<label for="bsValidation4" class="form-label">Incident_description</label>
										<textarea name="incident_description" cols="30" rows="10" class="form-control" required></textarea>
										
									</div>
									<div class="col-md-12">
										<label for="bsValidation5" class="form-label">Incident Place</label>
										<input type="text" class="form-control" id="bsValidation5" placeholder="Password"name = "incident_place" required>
										
									</div>
									<div class="col-md-6">
										<label for="bsValidation8" class="form-label">Incident Date</label>
										<input type="date" class="form-control" id="bsValidation8" name = "incident_place" required>
									</div>
									<div class="col-md-6">
										<label for="bsValidation10" class="form-label">Incident Time</label>
										<input type="time" class="form-control" id="bsValidation10" placeholder="City" name = "incident_time" required>
										
									</div>
									<div class="col-md-12">
										<label for="bsValidation5" class="form-label">Witness Name</label>
										<input type="text" class="form-control" id="bsValidation5" placeholder="Witness Name" name = "witness_name" required>
										
									</div>
									<div class="col-md-12">
										<label for="bsValidation5" class="form-label">Witness Details</label>
										<textarea name="witness_details" cols="30" rows="10" class = "form-control"></textarea>
										
									</div>
									<div class="col-md-12">
										<div class="d-md-flex d-grid align-items-center gap-3">
											<button type="submit" class="btn btn-primary px-4">Submit</button>
										</div>
									</div>
								</form>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<!--end row-->

				<div class="row">
					<div class="col-12">
						<h3 class="text-center my-5">Current Cases</h3>
			
						<table id="example" class="table table-striped" style="width:100%">
			
							<thead>
								<tr>
									<th>Case Number</th>
									<th>Client Name</th>
									<th>Incident Description</th>
									<th>Incident Place</th>
									<th>Incident Date</th>
									<th>Incident Time</th>
									<th>Witness Name</th>
									<th>Witness Details</th>
								</tr>
							</thead>
			
							<tbody>
								{% for current_case in current_cases %}
								<tr>
									<td>CS/{{ current_case.case_number }}</td>
									<td>{{ current_case.client_name }}</td>
									<td>{{ current_case.incident_description }}</td>
									<td>{{ current_case.incident_place }}</td>
									<td>{{ current_case.incident_date }}</td>
									<td>{{ current_case.incident_time }}</td>
									<td>{{ current_case.witness_name }}</td>
									<td>{{ current_case.witness_details }}</td>
								</tr>
								{% endfor %}
							</tbody>
			
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>
			
			<script>
				new DataTable('#example');
				document.querySelector('div.dataTables_wrapper div.dataTables_filter input').setAttribute('placeholder', 'Search anything')
			</script>

			
{% endblock %}