{% extends 'lawyer_base.html' %}

{% block title %}Dashboard - Adv Assist{% endblock %}

{% block content %}

 <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
                <div class="col-12 col-xl-12 d-flex">
					<div class="card rounded-4 w-100">
					  <div class="card-body">
						<div class="d-flex align-items-center justify-content-around flex-wrap gap-4 p-4">
						  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
							<a href="{% url 'list_cases' %}" class="mb-2 wh-48 bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center">
								<i class="material-icons-outlined">shopping_cart</i>
							</a>
							<h3 class="mb-0">{{ case_count }}</h3>
							<p class="mb-0">Cases</p>
						</div>
						
						  <div class="vr"></div>
						  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
							<a href="{% url 'students' %}" class="mb-2 wh-48 bg-primary bg-opacity-10 text-primary rounded-circle d-flex align-items-center justify-content-center">
							  <i class="material-icons-outlined">shopping_cart</i>
							</a>
							<h3 class="mb-0">{{student_count}}</h3>
							<p class="mb-0">Students</p>
						  </div>
						  <div class="vr"></div>
						  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
							<a href="{% url 'lawyer_bookings' lawyer_id=request.user.lawyer_profile.id %}" class="mb-2 wh-48 bg-success bg-opacity-10 text-success rounded-circle d-flex align-items-center justify-content-center">
							  <i class="material-icons-outlined">print</i>
							</a>
							<h3 class="mb-0">{{booking_count}}</h3>
							<p class="mb-0">Total Booking</p>
						  </div>
						  <div class="vr"></div>
						  <div class="d-flex flex-column align-items-center justify-content-center gap-2">
							<a href="{% url 'notifications' %}" class="mb-2 wh-48 bg-success bg-opacity-10 text-success rounded-circle d-flex align-items-center justify-content-center">
							  <i class="material-icons-outlined">notifications</i>
							</a>
							<p class="mb-0">Notification</p>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div><!--end row-->
				{% if lawyer_profile.time_update %}
    {% if time_update.month != current_month %}
        <div class="modal fade show" id="exampleVerticallycenteredModal" tabindex="-1" aria-hidden="true" style="display: block;">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content bg-black">
				  <div class="modal-header border-dark">
					<h5 class="modal-title text-white">Assign Working Hours</h5>
					{% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
				  </div>
				  <div class="modal-body text-white">
					<p>Unfortunaltly You Have not Assigned Working Hours for this Month</p>
					<p>Kindly Update the Working Hours inorder to resume your servies</p>
					<p>Failure to do so while Stop you from accessing the Website and its servies</p>
				  </div>
				  <div class="modal-footer border-dark">
					<button type="button" class="btn btn-dark" id="assign-working-hours-btn">Assign Working Hours</button>
				</div>
				</div>
			  </div>
			</div>
        </div>
        <script>
			document.getElementById('assign-working-hours-btn').onclick = function() {
				window.location.href = "{% url 'assign_working_hours' %}";
			};
            $(document).ready(function () {
                $('#exampleVerticallycenteredModal').modal('show');
            });
        </script>
    {% endif %}
{% endif %}


					<div class="row row-cols-1 row-cols-lg-3 g-4">
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'business_laws' %}"><img src="https://contiguglia.com/wp-content/uploads/2020/05/AdobeStock_226728389-980x653.jpeg" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Business Laws</h5>
						</div>
					  </div>
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'tax_laws' %}"><img src="https://img.freepik.com/premium-photo/calculatorbanknotesgavel-brown-card-with-text-tax-law-wooden-background_406607-2285.jpg?w=900" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Tax Law</h5>
						</div>
					  </div>
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'emp_laws' %}"><img src="https://www.corridalegal.com/publications/wp-content/uploads/2023/08/Picture_Employment-Law.png" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Employment Law</h5>
						</div>
					  </div>
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'ip_laws' %}"><img src="https://legalexpertsindia.net/wp-content/uploads/2018/09/IP.jpg" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Intellectual Property Law</h5>
						</div>
					  </div>
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'contract_laws' %}"><img src="https://blog.ipleaders.in/wp-content/uploads/2020/08/unit-5-aspects-of-contract-law-negligence-in-business-assignment-1.jpg" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Contract Law</h5>
						</div>
					  </div>
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'realestate_laws' %}"><img src="https://media.licdn.com/dms/image/D5612AQHFYGlW4KGEtQ/article-cover_image-shrink_720_1280/0/1684570954070?e=1710979200&v=beta&t=8MBySNrFUljTdxPRwKakqHVF5FXqpbKJR7PnBbySfrk" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Real Estate Law</h5>
						</div>
					  </div>
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'security_laws' %}"><img src="https://cyrilcorporateredesign.lexblogplatform.com/wp-content/uploads/sites/857/2021/07/Blog-Image-3.png" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Securities Law</h5>
						</div>
					  </div>
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'health_laws' %}"><img src="https://thumbor.forbes.com/thumbor/fit-in/1290x/https://www.forbes.com/advisor/wp-content/uploads/2022/11/Healthcare_Law.jpeg.jpg" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Health and Safety Law</h5>
						</div>
					  </div>
					  <div class="col">
						<div class="text-center">
							<a href = "{% url 'consumer_laws' %}"><img src="https://blog.ipleaders.in/wp-content/uploads/2020/08/iStock-1070418964-1-800x533.jpg" class="img-fluid rounded" alt="" width = "70%" height = "70%"></a>
						  <h5 class="mb-0 mt-3">Consumer Protection Law</h5>
						</div>
					  </div>
					  
					</div><!--end row-->
				  </div>
				</div>
			  </div>
			</div>


            </div>
        </main>

{% endblock %}
