{% extends 'lawyer_base.html' %}

{% block title %}Updated - Adv Assist{% endblock %}

{% block content %}
{% load static %}  
    <style>
            
            #navigation {
                display: flex; /* Use flexbox to create a row layout */
                align-items: center; /* Vertically center items */
                list-style: none;
                padding: 0;
            }
        
            #navigation li {
                margin: 0;
                padding: 0;
                margin-right: 0px; /* Add spacing between navigation items */
            }
        
            #navigation li:last-child {
                margin-right: 0; /* Remove margin from the last item to avoid extra spacing */
            }
        </style>

        <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
 
    <div class="row">
        <div class="col-xl-6 mx-auto">
            <div class="card">
                <div class="card-header px-4 py-3">
                    <h5 class="mb-0">Enter Case Details for {{ client.client_name }}</h5>
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
                <div class="card-body p-4">
                    <form class="row g-3 needs-validation" novalidate method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                    <input type="hidden" name="client_id" value="{{ client.id }}">
                    <div class="col-md-12">
                        <label for="place" class="form-label">Incident Place</label>
                        <input type="text" name="incident_place" class="form-control" value="{{ incident_place }}" required />
                    </div>

                    <div class="col-md-12">                        <label for="date" class="form-label">Incident Date</label>
                        <input type="date" name="incident_date" class="form-control" required />
                    </div>

                    <div class="col-md-12">                        <label for="time" class="form-label">Incident Time</label>
                        <input type="time" name="incident_time" class="form-control" required />
                    </div>

                    <div class="col-md-12">
                        <label for="witness_name" class="form-label">Witness Name</label>
                        <input type="text" name="witness_name" class="form-control" required />
                    </div>

                    <div class="col-md-12">
                        <label for="witness_name" class="form-label">Witness Details</label>
                        <textarea name="witness_details" cols="30" rows="10" class="form-control"></textarea>
                    </div>

                    <div class="col-md-12">
                        <label for="incident_desc" class="form-label">Incident Desciption</label>
                        <textarea name="incident_description" cols="30" rows="10" class="form-control"></textarea>
                    </div>

                    <div class="col-md-12">
                        <label for="aadhar_no" class="form-label">Client AAdhar Number</label>
                        <input type="number" name="client_adhar"  class="form-control" required />
                    </div>

                    <div class="col-md-12">
                        <label for="aadhar_img" class="form-label">Client Aadhar Photo</label>
                        <div class="profile-img-preview"></div>
                        <input type="file" name="client_adhar_photo"  class="form-control" id="client_adhar_photo" accept=".jpg, .jpeg, .png" required />
                    </div>

                    <div class="input-group">
                        <button class="btn btn-primary" type="submit" id ="save_case">Save Case</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        document.querySelector('#aadhar_img').addEventListener('change', handleImageChange);

        function handleImageChange(e) {
            const fileInput = e.target;
            const previewContainer = document.querySelector('.profile-img-preview');

            // Clear previous preview, if any
            while (previewContainer.firstChild) {
                previewContainer.removeChild(previewContainer.firstChild);
            }

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (event) {
                    const img = document.createElement('img');
                    img.setAttribute('src', event.target.result);
                    img.setAttribute('alt', 'Selected Profile Picture');

                    previewContainer.appendChild(img);
                    
                    let previewMsg = document.createElement('p');
                    previewMsg.innerText = "Profile picture preview";
                    previewMsg.setAttribute('class', 'preview-msg')

                    previewContainer.appendChild(previewMsg);
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
</div>
</main>

    {% endblock %}