
{% extends 'client_base.html' %}

{% block title %}Lawyer Details - Adv Assist{% endblock %}

{% block content %}
<style>
    .custom-mt-6 {
        margin-top: 6rem;
    }
</style>
<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
<div class="row">
    <div class="col-12 col-lg-8 col-xl-9">
      <div class="card overflow-hidden">
        <div class="card-body custom-mt-6">
          <div class="position-relative">
            <div class="position-absolute top-100 start-50 translate-middle mt-4">
              <img src="{{ lawyer.profile_picture.url }}" width="200" height="200" class="rounded-circle raised p-1 bg-white" alt="{{ lawyer.profile_picture.url }}">
            </div>
          </div>
          <div class="custom-mt-6 d-flex align-items-start justify-content-between">
            <div class="">
              <h3 class="mb-2">{{ lawyer.user.get_full_name}}</h3>
              <p class="mb-1">Email : {{ lawyer.user.email }}</p>
              <p>Phone : {{ lawyer.user.phone }}</p>
              <p>License Number : {{ lawyer.license_no}}</p>
              <div class="">
                <span class="badge rounded-pill bg-primary">{{ lawyer.specialization }} lawyer</span>
              </div>
            </div>
            <div class="">
               <a href="{% url 'select_date' lawyer_id=lawyer.id %}" class="btn btn-primary"><i class="bi bi-chat me-2"></i>Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        
      </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-3">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-3">Location</h5>
           <p class="mb-0"><i class="bi bi-geo-alt-fill me-2"></i>{{ lawyer.user.address }}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="mb-3">Connect</h5>
           <p class=""><i class="bi bi-browser-edge me-2"></i>DOB {{ lawyer.user.dob }}</p>
           <p class=""><i class="bi bi-facebook me-2"></i>Specialization :
            {{ lawyer.specialization }}</p>
           <p class=""><i class="bi bi-twitter me-2"></i>Court:
            {{ lawyer.court }}</p>
        </div>
      </div>

      

    </div>
  </div>


</div>
</main>
<!--end main wrapper-->


<!--start overlay-->
<div class="overlay btn-toggle"></div>
<!--end overlay-->
{% endblock %}