{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lawyer_profile.css' %}">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/bc4fa34d4c.js" crossorigin="anonymous"></script>

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <style>
            
            #navigation {
                display: flex; /* Use flexbox to create a row layout */
                align-items: center; /* Vertically center items */
                list-style: none;
                padding: 0;
            }
        
            #navigation li {
                margin: 0;
                padding: 0;
                margin-right: 0px; /* Add spacing between navigation items */
            }
        
            #navigation li:last-child {
                margin-right: 0; /* Remove margin from the last item to avoid extra spacing */
            }
        </style>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center justify-content-between no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'img\icon.ico' %}" alt=""width="120">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        <li><a href="{% url 'home' %}">Practice Area</a></li> 
                                        <li><a href="#">Services<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'lawyer_dashboard' %}">Lawyer</a></li>
                                                
                                                {% if user.user_type == 'admin' %}
                                                <li><a href="{% url 'add_lawyer' %}">Add Lawyer</a></li>
                                                {% endif %}
                                            </ul>
                                            
                                        </li>
                                        {% if user.is_authenticated %}
                                        <li>
                                            <a href="#">Welcome {{ user.first_name }}<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                {% if user.user_type == 'admin' %}
                                                <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                                                {% endif %}
                                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        
                                        <li><a href="{% url 'signup' %}">Signup</a></li>
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        {% endif %}
                                    </ul>
                                    <nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


    <!-- main section start -->
    <div class="container" style="min-height: 90vh;">
        <div class="row pt-3">
            <div class="col-md-12">

                <!-- lawyer image -->
                <figure class="lawyer-profile-pic">
                    <img class="rounded"
                        src="{{ lawyer.profile_picture.url }}"
                        alt="" />
                </figure>

                <!-- lawyer name and contact button -->
                <div class="lawyer-name-contact-btn d-flex justify-content-between">
                    <h1 class="text-bold">{{ lawyer.user.get_full_name }}</h1>
                    <a href="{% url 'book_lawyer' lawyer.id %}"><button class="contact-btn-profile">Book An Appointment</button></a>
                </div>

                <!-- details of lawyer -->
                <div class="pt-4">
                    <p>Specialization: <span style="font-weight: 600;">{{ lawyer.specialization }}</style="font-weight: 600;">
                    </p>
                    <p>Experience: <span style="font-weight: 600;">{{ lawyer.experience }} Years</span></p>
                </div>
               
            </div>
        </div>
    </div>
    <!-- main section end -->

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                            <p class="footer_text">200, A-block, Green road, USA <br>
                                +10 367 267 2678 <br>
                                <a class="domain" href="#">lawyer@contact.com</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Practice Area
                            </h3>
                            <ul>
                                <li><a href="#">Business law
                                    </a></li>
                                <li><a href="#">Finance law</a></li>
                                <li><a href="#">Education law</a></li>
                                <li><a href="#">Family law</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Useful Links
                            </h3>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Subscribe
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            website is made by JOseph
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>

</html>