{% if user.user_type == 'lawyer' %}
    {% include 'lawyer_base.html' %}
{% else %}
    {% include 'admin_base.html' %}
{% endif %}

{% block title %}Current - Adv Assist{% endblock %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/add_user.css' %}">
{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<style>
    *,
    *:focus,
    *:active {
        outline: none;
        outline-offset: 0;
        outline-color: red;
        font-family: 'Poppins', sans-serif;
    }

    select {
        border: 1px solid #000;
        min-width: 5em;
        border-radius: 3px;
    }

    .dataTables_filter label {
        font-size: 17px;
    }

    div.dataTables_wrapper div.dataTables_filter input[type=search] {
        height: 2.5em;
        width: 25em;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 0 10px;
        font-size: 14px;
    }

    .table.dataTable.table-striped>tbody>tr>* {
        border: none;
    }

    .table.dataTable.table-striped>tbody>tr.odd>* {
        box-shadow: none;
        background-color: #eff1f3;
    }

    .table.dataTable.table-striped>tbody>tr.odd:hover {
        background-color: #E0FCFC;
    }

    a,
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        color: #000;
        border-radius: 3px;
        margin-left: 5px;
    }

    a.paginate_button.current {
        background-color: #eff1f3;
        padding: 5px 10px;
        color: #000;
    }

    a.paginate_button.previous.disabled,
    a.paginate_button.next.disabled {
        background-color: #eff1f3;
        cursor: not-allowed;
        opacity: 0.7;
    }

    a.paginate_button {
        border: 1px solid #000;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
                <div class="container py-5">
                    <div class="row mt-4">
                        <div class="col-md-12 add-user-col d-flex justify-content-center align-items-center flex-column">
                            <form action="{% url 'mark_holiday' %}" method="post">
                                {% csrf_token %}
                                <h3 class="text-center">Duty Leave</h3>
                                <div class="add-user-form">
                                    <div class="input-group">
                                        <label for="date">Select Date</label>
                                        <input type="date" name="holiday_date" id="holiday_date" style="border: 1px solid black;" required />
                                    </div>
                                    <div class="input-group">
                                        <label for="reason">Reason</label>
                                        <input type="text" name="reason" id="reason" style="border: 1px solid black;" required />
                                    </div>
                                    <div class="input-group" >
                                        <label for="supportingdocuments">Supporting Documents</label>
                                        <input type="file" name="supportingdocuments" id="supportingdocuments" style="border: 1px solid black;" required />
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-warning text-white" type="submit" id="mark">Mark Holiday</button>
                                    </div>
                                </div>
                            </form>
                            
                            <div class="add-user-col d-block text-center mt-5">
                                {% if messages %}
                                      
                                {% for message in messages %}
                                <p >{{ message }}</p>
                                {% endfor %}
                                      
                                      {% endif %}
                                <p>Go to<a href="{% url 'lawyer_dashboard' %}" class="text-success" style="font-weight: 600;"> Dashboard</a></p>
                                </p>
                            </div>
                        </div>
            
            
                    </div>
                </div>

            </div>
        </main>
                
                <script>
                    new DataTable('#example');
                    document.querySelector('div.dataTables_wrapper div.dataTables_filter input').setAttribute('placeholder', 'Search anything')
                </script>
    
                
    {% endblock %}