{% if user.user_type == 'lawyer' %}
    {% include 'lawyer_base.html' %}
{% else %}
    {% include 'admin_base.html' %}
{% endif %}

{% block title %}Update student Profile - Adv Assist{% endblock %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/add_user.css' %}">
    <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">

{% block content %}

<!--start main wrapper-->
<main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
				
				<div class="container py-5">
					<h1 class="text-center my-5 heading-1">Update Details</h1>
					<form class="row g-3 needs-validation" method="post" enctype="multipart/form-data" action="{% url 'update_lawyer_profile' user_id=user.id %}" onsubmit="return confirmSubmit();" novalidate>
					  {% csrf_token %}
						<div class="row">
							<div class="col-md-5 profile-pic-col">
								<figure class="profile-pic-sec">
								  <img src="{% if lawyer_profile.profile_picture %}{{ lawyer_profile.profile_picture.url }}{% else %}https://media.istockphoto.com/id/1324489178/photo/portrait-of-young-businesswoman.jpg?s=612x612&w=0&k=20&c=veBaFV9sgk6W6lGnigzCM4P5GV3QN7AAm-pa0o0X9ko={% endif %}"
								  alt="profile picture" id="pic" />                 
										<label for="profile_picture" class="profile-pic-change">
											<i class="fa-solid fa-camera"></i>
											<input type="file" name="profile_picture" id="profile_picture" accept=".jpg, .jpeg, .png"  hidden />
										</label>
								</figure>
							</div>
			
							<div class="col-md-7">
								<h1 class="text-center my-3 heading-2">Update Details</h1>
			
								<div class="input-group">
									<label for="specialization">Specialization</label>
									<select name="specialization" required>
					<option selected disabled>Choose Specialization</option>
					<option value="family">Family Lawyer</option>
					<option value="criminal">Criminal Lawyer</option>
					<option value="consumer">Consumer Lawyer</option>
				</select>
								
								<div class="input-group">
									<label for="name">Address</label>
									<input type="text" id="address" name="address" value="{{ user.address }}" placeholder="{{ user.address }}" />
								</div>
								
								
								<div class="input-group">
									<label for="phone">Phone</label>
									<input type="text" name="phone" value="{{ user.phone }}" placeholder = "{{ user.phone }}" disabled/>
								</div>
			
								<div class="input-group">
									<label for="court">Specialization</label>
									<select name="court" required>
					<option selected disabled>Choose Court</option>
					<option value="jfcmcchangancherry">Judicial First Class Magistrate Court  Changancherry</option>
					<option value="munsiff">Munsiff Court Changancherry</option>
					<option value="jfcmcKanjirapally">Judicial First Class Magistrate Court  Kanjirapally</option>
					<option value="munsifcourtkanjirapally">Munsiff Court Kanjirapally</option>
					<option value="districtcourtkottayam">District Court Kottayam</option>
					<option value="highcourtkochi">High Court Kochi</option>
				</select>
								</div>
			
								<div class="input-group">
									<label for="phone">Additional Qualifications</label>
									<input type="text" name="additional_qualification" value="" placeholder = "Additional Qualification"  />
								</div>
								<div class="input-group">
									<input type="file" name="additional_qualification_documents" value="" placeholder = "Additional Qualification"  />
								</div>
			
								<div class="input-group mt-4">
									<button type="submit" class="btn btn-success text-white">
										Save Changes
									</button>
								</div>
			
							</div>
						</div>
					</form>
				</div>
				
			</div>
        </main>

				<script>
					document.getElementById('profile_picture').addEventListener('change', function(event) {
				const selectedImage = document.getElementById('pic');
				const fileInput = event.target;
			
				if (fileInput.files && fileInput.files[0]) {
					const reader = new FileReader();
			
					reader.onload = function(e) {
						selectedImage.src = e.target.result;
					};
			
					reader.readAsDataURL(fileInput.files[0]);
				}
			});
			
			function confirmSubmit() {
				// Display a confirmation dialog
				var confirmation = confirm("Are you sure you want to submit this form?");
				
				// If the user clicks "OK," the form will be submitted
				return confirmation;
			}
			
				</script>
           
{% endblock %}