{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_user.css' %}">

    <title>Add User</title>
</head>

<body>

    

    <div class="container py-5">
        <h1 class="text-center">Add New User</h1>

        <div class="row">
            <div class="col-12 add-user-col d-flex justify-content-center">
                    <form method="post"  class="add-user-form" action="{% url 'lawyer_save' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="input-group">
                        <label for="specialization">Specialization</label>
                        <select name="specialization" required>
        <option selected disabled>Choose Specialization</option>
        <option value="family">Family Lawyer</option>
        <option value="criminal">Criminal Lawyer</option>
        <option value="consumer">Consumer Lawyer</option>
    </select>
                    </div>

                    <div class="input-group">
                        <label for="start_date">Start Date</label>
                        <input type="date" name="start_date" required />
                    </div>

                    <div class="input-group">
                        <label for="profile_picture">Profile Picture</label>
                        <div class="profile-img-preview"></div>
                        <input type="file" name="profile_picture" id="profile_picture" accept=".jpg, .jpeg, .png" required />
                    </div>

                    <div class="input-group">
                        <label for="dob">Date of Birth</label>
                        <input type="date" name="dob" required />
                    </div>

                    <div class="input-group">
                        <label for="address">Address</label>
                        <input type="text" name="address" required />
                    </div>

                    <div class="input-group">
                        <label for="pin_code">Pin Code</label>
                        <input type="number" name="pin" required />
                    </div>

                    <div class="input-group">
                        <label for="state">State</label>
                        <select name="state" required>
                            <option value="" disabled selected>Choose State</option>
                            <option value="" disabled selected>Choose State</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and
                                Daman and Diu
                            </option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Puducherry">Puducherry</option>
                        </select>
                    </div>

                    <!-- <div class="input-group">
                        <label for="phone_number">Phone Number</label>
                        <input type="number" name="phone_number" required />
                    </div> -->

                    <div class="input-group">
                        <label for="working_time_start">Working Time Start:</label>
                        <select id="working_time_start" name="working_time_start" required>
                            <option value="" disabled selected>Select Start Time</option>
                            {% for time_slot in available_time_slots %}
                                <option value="{{ time_slot.id }}">{{ time_slot.start_time|time:"h A" }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="working_time_end">Working Time End:</label>
                        <select id="working_time_end" name="working_time_end" required>
                            <option value="" disabled selected>Select End Time</option>
                            {% for time_slot in available_time_slots %}
                                <option value="{{ time_slot.id }}">{{ time_slot.start_time|time:"h A" }}</option>
                            {% endfor %}
                        </select>
                    </div>                 
                    <div class="input-group">
                        <label for="locations">Locations</label>
                        <input type="text" name="locations" id="locations" data-role="tagsinput" />
                    </div>
                    
                    <div class="input-group">
                        <label for="working_days">Working Days</label>

                        <div class="working-days-group">
                            <p>
                                <input type="checkbox" id="monday" name="working_days" value="1">
                                <span>Monday</span>
                            </p>
                            <p>
                                <input type="checkbox" id="tuesday" name="working_days" value="2">
                                <span>Tuesday</span>
                            </p>
                            <p>
                                <input type="checkbox" id="wednesday" name="working_days" value="3">
                                <span>Wednesday</span>
                            </p>
                            <p>
                                <input type="checkbox" id="thursday" name="working_days" value="4">
                                <span>Thursday</span>
                            </p>
                            <p>
                                <input type="checkbox" id="friday" name="working_days" value="5">
                                <span>Friday</span>
                            </p>
                            <p>
                                <input type="checkbox" id="saturday" name="working_days" value="6">
                                <span>Saturday</span>
                            </p>
                            <p>
                                <input type="checkbox" id="sunday" name="working_days" value="7">
                                <span>Sunday</span>
                            </p>
                        </div>
                    </div>

                    <div class="input-group">
                        <button class="btn btn-warning" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        document.querySelector('#profile_picture').addEventListener('change', handleImageChange);

        function handleImageChange(e) {
            const fileInput = e.target;
            const previewContainer = document.querySelector('.profile-img-preview');

            // Clear previous preview, if any
            while (previewContainer.firstChild) {
                previewContainer.removeChild(previewContainer.firstChild);
            }

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (event) {
                    const img = document.createElement('img');
                    img.setAttribute('src', event.target.result);
                    img.setAttribute('alt', 'Selected Profile Picture');

                    previewContainer.appendChild(img);
                    
                    let previewMsg = document.createElement('p');
                    previewMsg.innerText = "Profile picture preview";
                    previewMsg.setAttribute('class', 'preview-msg')

                    previewContainer.appendChild(previewMsg);
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>

</body>

</html>