{% if user.user_type == 'lawyer' %}
    {% include 'lawyer_base.html' %}
{% else %}
    {% include 'student_base.html' %}
{% endif %}
{% block title %}Contract Laws - Adv Assist{% endblock %}

{% block content %}

  <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
                <div class="">
					<div class="">
						<div class="container py-2">
							<h2 class="font-weight-light text-center text-muted py-3">Contract Laws</h2>
							<!-- timeline item 1 -->
							<div class="row">
								
								<!-- timeline item 1 event content -->
								<div class="col py-2">
									<div class="card radius-15">
										<div class="card-body">
											<div class="float-end text-muted">Section 420</div>
											<h4 class="card-title text-muted"> Cheating and Dishonestly Inducing Delivery of Property</h4>
											<p class="card-text">This section deals with cheating and dishonestly inducing the delivery of property. In the context of contracts, it could be applicable if a person, through deceptive means, induces another to enter into a contract, leading to a financial loss.</p>
										</div>
									</div>
								</div>
							</div>
							<!--/row-->
							<!-- timeline item 1 event content -->
							<div class="col py-2">
								<div class="card radius-15">
									<div class="card-body">
										<div class="float-end text-muted">Section 415</div>
										<h4 class="card-title text-muted"> Cheating</h4>
										<p class="card-text">This section pertains to the general offense of cheating, which may be relevant in cases where fraudulent activities are involved in the formation or execution of a contract.</p>
									</div>
								</div>
							</div>
						</div>
						<!--/row-->
				</div>
				<!--/row-->
                        </div>
					</div>
				</div>


    </div>
  </main>
  <!--end main wrapper-->


    {% endblock %}