{% if user.user_type == 'lawyer' %}
    {% include 'lawyer_base.html' %}
{% else %}
    {% include 'student_base.html' %}
{% endif %}

{% block title %}Business Laws - Adv Assist{% endblock %}

{% block content %}

  <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>
				<!--end breadcrumb-->
                <div class="">
					<div class="">
						<div class="container py-2">
							<h2 class="font-weight-light text-center text-muted py-3">Tax Laws</h2>
							<!-- timeline item 1 -->
							<div class="row">
								
								<!-- timeline item 1 event content -->
								<div class="col py-2">
									<div class="card radius-15">
										<div class="card-body">
											<div class="float-end text-muted">Section 4 </div>
											<h4 class="card-title text-muted">Charge of Income Tax:</h4>
											<p class="card-text">Specifies the scope and nature of income that is subject to taxation under the Income Tax Act.
                                            </p>
										</div>
									</div>
								</div>
							</div>
							<!--/row-->
							<!-- timeline item 1 event content -->
							<div class="col py-2">
								<div class="card radius-15">
									<div class="card-body">
										<div class="float-end text-muted">Section 5 </div>
										<h4 class="card-title text-muted">  Scope of Total Income </h4>
										<p class="card-text">Defines the residential status of a taxpayer and determines the scope of total income based on the taxpayer's residential status.</p>
									</div>
								</div>
							</div>
						</div>
						<!--/row-->
						<!-- timeline item 1 event content -->
						<div class="col py-2">
							<div class="card radius-15">
								<div class="card-body">
									<div class="float-end text-muted">Section 418:</div>
									<h4 class="card-title text-muted"> cheating with knowledge </h4>
									<p class="card-text">Deals with cheating with knowledge that wrongful loss may ensue to a person whose interest the offender is bound to protect.</p>
								</div>
							</div>
						</div>
					</div>
					<!--/row-->
					<!-- timeline item 1 event content -->
					<div class="col py-2">
						<div class="card radius-15">
							<div class="card-body">
								<div class="float-end text-muted">Section 10</div>
								<h4 class="card-title text-muted"> Exemptions</h4>
								<p class="card-text">Lists various incomes that are exempt from taxation, such as agricultural income, certain allowances, and specific capital gains.
                                </p>
							</div>
						</div>
					</div>
				</div>
				<!--/row-->
                        </div>
					</div>
				</div>


    </div>
  </main>
  <!--end main wrapper-->


    {% endblock %}