{% extends 'common.html' %}

{% block title %}Dashboard - Adv Assist{% endblock %}

{% block content %}

  <!--start main wrapper-->
  <main class="main-wrapper">
    <div class="main-content">
      <!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Dashboard</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
					</div>
				</div>

                <div class="row">
					<div class="col-xl-6 mx-auto">
						<div class="card">
							<div class="card-header px-4 py-3">
								<h5 class="mb-0">Step 2 - Add Intern</h5>
							</div>
							<div class="card-body p-4">
                                <center>{% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <p class="text-danger font-weight-bold{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}</center>
								<form class="row g-3 needs-validation" method = "POST" enctype="multipart/form-data" action = "{% url 'intern' %}" novalidate>
                                    {% csrf_token %}
									<div class="col-md-6">
										<label for="bsValidation1" class="form-label">First Name</label>
										<input type="text" class="form-control" id="bsValidation1" name = "first_name" placeholder="First Name" value="Jhon" required>
									</div>
									<div class="col-md-6">
										<label for="bsValidation2" class="form-label">Last Name</label>
										<input type="text" class="form-control" id="bsValidation2" placeholder="Last Name" value="Deo" name = "last_name" required>
									</div>
									<div class="col-md-12">
										<label for="bsValidation3" class="form-label">Phone</label>
										<input type="text" class="form-control" id="bsValidation3" name = "phone" placeholder="Phone" required>
									</div>
									<div class="col-md-12">
										<label for="bsValidation4" class="form-label">Email</label>
										<input type="email" class="form-control" id="bsValidation4" name = "email" placeholder="Email" required>
									</div>
									<div class="col-md-12">
										<label for="bsValidation5" class="form-label">Address</label>
                                        <textarea name="address" class="form-control" id="" placeholder="Your address" cols="30" rows="1" required></textarea>
									</div>
									<div class="col-md-12">
										<label for="bsValidation8" class="form-label">DOB</label>
										<input type="date" class="form-control" name = "dob" id="bsValidation8" required>
										<div class="invalid-feedback">
											Please select date.
										</div>
									</div>
									{% comment %} <div class="col-md-12">
										<label for="bsValidation9" class="form-label">Course</label>
										<select id="bsValidation9" class="form-select" name="course" required>
                                            <option selected disabled value>...</option>
                                            <option value="LLB">LLB</option>
                                            <option value="LLM">LLM</option>
                                        </select>
									</div> {% endcomment %}
									<div class="col-md-6">
										<label for="bsValidation9" class="form-label">Course</label>
										<input type="text" class="form-control" id="bsValidation9" name="course" value="{{ request.session.course }}" readonly>
									</div>
									
									<div class="col-md-6">
										<label for="bsValidation10" class="form-label">Course Place</label>
										<input type="text" class="form-control" name = "course_place" id="bsValidation10" placeholder="Course Place" required>
									</div>
									<div class="col-md-12">
										<label for="bsValidation13" class="form-label">Address</label>
										<textarea class="form-control" id="bsValidation13" placeholder="Address ..." rows="3" required></textarea>
										<div class="invalid-feedback">
											Please enter a valid address.
										</div>
									</div>
                                    <!-- duration and specialization -->
                                    <div class="col-md-12">
										<label for="bsValidation13" class="form-label">Duration</label>
                                            <input type="text" name="duration_of_course" class= "form-control" required 
                                                placeholder="Your course duration" />
                                        </div>
                                        <div class="col-md-12">
                                            <label for="bsValidation13" class="form-label">Specialization</label>
                                            <select name="specialization" class="form-control" required>
                                                <option selected disabled>Choose Specialization</option>
                                                <option value="family">Family Lawyer</option>
                                                <option value="criminal">Criminal Lawyer</option>
                                                <option value="consumer">Consumer Lawyer</option>
                                            </select>
                                        </div>

                                    <!-- year of pass and current cgpa -->
                                    <div class="col-md-6">
										<label for="bsValidation13" class="form-label">Address</label>
                                            <select name="year_of_pass" class="form-control" required>
                                                <option selected disabled>Choose Year</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                            </select>
                                        </div>
                                        {% comment %} <div class="col-md-6">
                                            <label for="bsValidation13" class="form-label">CGPA</label>
                                            <input type="type" name="cgpa" class="form-control"placeholder="Your current CGPA" required />
                                        </div> {% endcomment %}
										<div class="col-md-6">
											<label for="bsValidation10" class="form-label">CGPA</label>
											<input type="text" class="form-control" name="cgpa" id="bsValidation10" value="{{ cgpa }}" placeholder="{{cgpa}}" readonly>
										</div>
                                    <!-- experience and aadhar number -->
                                    <div class="col-md-12">
                                        <label for="bsValidation13" class="form-label">Experience</label>
                                            <textarea name="experience" class="form-control"id="" cols="30" rows="1" placeholder="Your experiences" ></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="bsValidation13" class="form-label">Aadhar Number</label>
                                            <input type="number" name="adhaar_no" class="form-control" placeholder="Your aadhar number" required />
                                        </div>

                                    <!-- profile pricture -->
                                    <div class="col-md-12">
                                        <label for="bsValidation13" class="form-label">Aadhar Photo</label>
                                            <label for="profile_picture">Upload Adhaar</label>
                                            <input type="file" name="adhaar_pic" class="form-control" accept=".jpg, .jpeg, .png" id="profile_picture"
                                                required />
                                        </div>
									<div class="col-md-12">
										<div class="d-md-flex d-grid align-items-center gap-3">
											<button type="submit" class="btn btn-primary px-4">Submit</button>
											<button type="reset" class="btn btn-light px-4">Reset</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->


            </div>
        </main>
        {% endblock %}